<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Афиша Якт</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/kino.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>

    <header>
        <div class="logo">
            
        </div>
        <div class="header-container">
            <div class="right-text-header">
              <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', path='images/logo.png') }}" alt="">
              </a>
                <div class="dropdown">
                    <button class="btns btn-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        &#8801;
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://doska.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=doska">Доска</a></li>
                      <li><a class="dropdown-item" href="https://rabota.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=rabota">Работа</a></li>
                      <li><a class="dropdown-item" href="https://eda.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=eda">Еда</a></li>
                      <li><a class="dropdown-item" href="https://stroy.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=stroy">Новостройки</a></li>
                      <li><a class="dropdown-item" href="https://domiki.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=domiki">Домики</a></li>
                    </ul>
                  </div>
            </div>
            <div class="middle-text-header">
                <a href="{{ url_for('movies') }}" class="textbtn">Кино</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('koncert') }}" class="textbtn">Концерт</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('theatre') }}" class="textbtn">Театр</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('meeting') }}" class="textbtn">Сходки</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('child') }}" class="textbtn">Детям</a>
                <div class="razdelenie"></div>
                <a href="" class="textbtn">Еще&nbsp;&#709;</a>
            </div>
            <div class="auth-container-header">
                <a href="https://id.ykt.ru/page/login?return_url=https%3A%2F%2Fafisha.ykt.ru%2F" class="authbtn logbtn">Войти</a>
                <a href="https://id.ykt.ru/page/register?return_url=https%3A%2F%2Fafisha.ykt.ru%2F" class="authbtn regbtn">Регистрация</a>
            </div>
        </div>
    </header>
    <main>
        <div class="page">
            <h1 class="actually">АКТУАЛЬНОЕ</h1>
            <div class="container-lg">
                <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{{ url_for('static', path='images/item1.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Бойцовский клуб</h5>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut illo consequatur necessitatibus mollitia culpa fugiat.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{{ url_for('static', path='images/item2.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Драйв</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem rem deserunt nobis atque! Rem delectus rerum unde modi quam?</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{{ url_for('static', path='images/item3.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Шоу Трумана</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellat aliquid eligendi sapiente, optio id.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{{ url_for('static', path='images/item4.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>1 + 1</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem rem deserunt nobis atque! Rem delectus rerum unde modi quam?</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{{ url_for('static', path='images/item5.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>В погоне за счастьем</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem rem deserunt nobis atque! Rem delectus rerum unde modi quam?</p>
                        </div>
                      </div>
                    </div>
                    <div class="btncarousel">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Предыдущий</span>
                          </button>
                    </div>
                    <div class="btncarousel">
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                  </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    <script src="{{ url_for('static', path='js/header.js') }}"></script>
    <script src="{{ url_for('static', path='js/burger.js') }}"></script>
</body>
</html>