<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Встречи - Афиша Якт</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/kino.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/responsive.css') }}">
</head>
<body>

    <header>
        <div class="logo">
            
        </div>
        <div class="header-container">
            <div class="right-text-header">
              <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', path='images/logo.png') }}" alt="">
              </a>
                <div class="dropdown">
                    <button class="btns btn-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        &#8801;
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://doska.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=doska">Доска</a></li>
                      <li><a class="dropdown-item" href="https://rabota.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=rabota">Работа</a></li>
                      <li><a class="dropdown-item" href="https://eda.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=eda">Еда</a></li>
                      <li><a class="dropdown-item" href="https://stroy.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=stroy">Новостройки</a></li>
                      <li><a class="dropdown-item" href="https://domiki.ykt.ru/?utm_source=global&utm_medium=index&utm_campaign=domiki">Домики</a></li>
                    </ul>
                  </div>
            </div>
            <div class="middle-text-header">
                <a href="{{ url_for('movies') }}" class="textbtn">Кино</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('concerts') }}" class="textbtn">Концерт</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('theatre') }}" class="textbtn">Театр</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('meeting') }}" class="textbtn">Сходки</a>
                <div class="razdelenie"></div>
                <a href="{{ url_for('child') }}" class="textbtn">Детям</a>
            </div>
            <div class="auth-container-header">
                <a href="https://id.ykt.ru/page/login?return_url=https%3A%2F%2Fafisha.ykt.ru%2F" class="authbtn logbtn">Войти</a>
                <a href="https://id.ykt.ru/page/register?return_url=https%3A%2F%2Fafisha.ykt.ru%2F" class="authbtn regbtn">Регистрация</a>
            </div>
        </div>
    </header>
    <main>
        <div class="page-kino">
            <div class="sitename">
                <p>СХОДКИ</p>
            </div>
            {% for item in items %}
            <div class="main-content">
                <img src="{{ item['url_image'] }}" alt="" class="obloga">
                <div class="main-body">
                    <p class="title">{{ item['title'] }} <span class="age-restriction">{{ item['age_restriction'] }}</span></p>
                    <p class="descript">{{ item['description'] }}</p>
                </div>
                <a href="{{ url_for('cardme', id=item['id']) }}" class="buybtn">Купить билет</a>
            </div>
            {% endfor %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    <script src="{{ url_for('static', path='js/header.js') }}"></script>
    <script src="{{ url_for('static', path='js/burger.js') }}"></script>
</body>
</html>